@media (max-width: 1200px) {
    .segment-left .row {
        flex-direction: column;
    }

    .segment-right .row {
        flex-direction: column-reverse;
    }

    .carousel-inner {
        width: 100%;
        height: 35vh;
    }

    .portfolio-image {
        width: auto;
        max-height: 35vh;

        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .segment-text {
        padding-top: 20px;
        max-height: 13vh;
    }

    .segment-description .role {
        font-weight: bold;
        font-size: 3vh;
    }

    .segment-description .title {
        font-size: 2vh;
    }

    .more {
        font-size: 1.5vh;
    }
}

@media (min-width: 1200px) {
    .carousel-inner {
        width: 100%;
        height: 50vh;
    }

    .portfolio-image {
        width: auto;
        max-height: 45vh;

        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .segment-text {
        padding-top: 20px;
        max-height: 45vh;
    }

    .segment-description .role {
        font-weight: bold;
        font-size: 6vw;
    }

    .segment-description .title {
        font-size: 5vw;
    }

    .more {
        font-size: 1.5vw;
    }
}

body {
    background-color: rgb(255, 248, 224);
}

.card {
    background-color: transparent;
}

.header {
    background: url("../resources/images/header-background.jpg") no-repeat;
    background-size: cover;
}

.header-text {
    font-size: 10vw;
}

.nav-item {
    font-size: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.segment {
    padding: 20px;
    width: 90vw;
}

.carousel-item {
    position: relative;
    height: 100%;
}

.segment-collapse {
    padding: 15px;
}

.segment-description {
    text-align: center;
    vertical-align: middle;
}
